body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  justify-content: center;
}

.wr-row {
  flex-direction: row;
  display: flex;
  align-items: center;
}

.wr-h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  margin: 10px 0 10px;
  color: #000000;
  letter-spacing: -0.03em;
}

.wr-h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: -0.03em;
  margin: 5px 0 50px 0;
  color: #767676;
}

.wr-cursor {
  margin: 5px 0;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 12px solid #f4a261;
  cursor: pointer;
}

.wr-h3 {
  width: 180px;
  text-align: center;
  padding-bottom: 3px;
  border-bottom: 1px solid #000000;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 29px;
  margin-top: 40px;
  color: #191919;
}

.wr-orange-button {
  border: none;
  box-sizing: border-box;
  position: absolute;
  left: 85%;
  top: 80%;
  width: 60px;
  height: 35px;
  background: #f4a261;
  border-radius: 10px;
  font-family: "Inter";
  font-weight: 300;
  font-size: 12px;
  color: #ffffff;
  cursor: pointer;
}
