.Header_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #fff;
    position: relative;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    cursor: pointer;
}

.nav-menu {
    display: block;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.nav-links li {
    cursor: pointer;
    padding: 5px 10px;
    transition: background-color 0.3s, color 0.3s;
}

.nav-links li:hover {
    background-color: #f0f0f0;
    color: #007BFF;
    border-radius: 5px;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: #333;
    transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
    .menu-toggle {
        display: block;
        z-index: 1100;
    }

    .nav-menu {
        position: fixed;
        top: 0;
        right: -300px;
        width: 300px;
        height: 50%;
        background-color: #fff;
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
        transition: right 0.3s ease-out;
        overflow-y: auto;
        z-index: 1000;
    }

    .nav-menu.open {
        right: 0;
    }

    .nav-links {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
        margin-top: 60px;
    }

    .nav-links li {
        padding: 15px 0;
    }
}